.product--image {
  width: 100%;
  height: 12em;
  object-fit: contain;
}

.card {
  background-color: white;
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  cursor: pointer;
}

.card button:hover {
  color: yellow;
}

.new {
  object-fit: contain;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0%;
  left: 90%;
  transform: rotate(-30deg);
}
