body {
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  padding-bottom: 52vh;
}

.logo {
  height: 3rem;
}

.button {
  margin-left: spacing(2);
}

.navbar-icons {
  color: rgb(42, 42, 43);
}

.flex {
  flex-grow: 1;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-padding {
  padding-left: 15%;
  padding-right: 15%;
  margin: 4rem !important;
}

.media {
  height: 250px;
  padding-top: "56.25%";
}

.fade {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.links {
  color: inherit;
  text-decoration: inherit;
}

.cartActions :hover {
  color: #ffd54b;
}

.zoom:hover {
  transform: scale(1.5);
  transition: 0.5s;
  object-fit: "cover";
}

.signButton:hover {
  background-color: black;
}

.textButton {
  color: rgb(42, 42, 43) !important;
}

.icon {
  color: #f70303;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0;
    color: red;
  }
  100% {
    opacity: 1;
    color: red;
  }
}

footer {
  position: absolute;
  bottom: 0;
  margin: 0 !important;
  padding: 1em 0 !important;
  background-color: #232f3e;
  width: 100%;
  height: 50vh;
}

li {
  color: #fff;
  font-variant: small-caps;
}

li :hover {
  color: #ffd54b;
}

p {
  color: #ffd54b;
}
